<!--
  Generated template for the CadastroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="meuForm" (submit)="cadastrarUsuario($event)">
        
      <div align="center">
          <ion-avatar item-start>
          <img 
              src="assets/images/account-circle.svg" 
              id="imageCadastro" 
              style='height: 50%;background-color:#FFFFFF; width: 50%;'
              onclick="document.getElementById('selectFoto').click()">
          </ion-avatar>
        </div>
        <input formControlName="foto" type="file" id="selectFoto" (change)="enviaImage($event)" hidden accept="image/*">
                
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input type="text" formControlName="username" name="username"
            [(ngModel)]="usuario.username"></ion-input><br>
          </ion-item>
          <ion-row>
            <span *ngIf="meuForm.controls.username.invalid" class="alert"><br>*Nome é obrigatório.</span>                                  
          </ion-row>
          
          <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input type="email" formControlName="email" name="email"
              [(ngModel)]="usuario.email"></ion-input>
          </ion-item>
          <ion-row>
            <div *ngIf="meuForm.controls.email.invalid">
              <ion-row>
                <span style="color: red; padding-left: 16px; margin-top: -15px;"
                  *ngIf="meuForm.controls.email.errors.required"><br>*E-mail é obrigatório.</span>
              </ion-row>
              <ion-row>
                <span style="color: red; padding-left: 16px; margin-top:2px;"
                  *ngIf="meuForm.controls.email.errors.incorrectFormatoDeEmail 
                    && !meuForm.controls.email.errors.required">*E-mail inválido.</span>
              </ion-row>
            </div>                                            
          </ion-row>

          <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password" formControlName="password" name="password"
              [(ngModel)]="usuario.password"></ion-input>
          </ion-item>
          <div *ngIf="meuForm.controls.password.invalid">
            <span style="color: red; padding-left: 16px;"
              *ngIf="meuForm.controls.password.errors.required" >*A senha é obrigatória.</span>
            <span style="color: red; padding-left: 16px" 
              *ngIf="meuForm.controls.password.errors.minlength" >*Mínimo de 6 caracteres.</span>                    
          </div> 
          <ion-row>
            <ion-col class="signup-col">
              <button ion-button class="submit-btn" full type="submit" [disabled]="meuForm.invalid" >Enviar</button>
            </ion-col>
          </ion-row>
    </form> 
</ion-content>
