<!--
  Generated template for the CadastroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>
<!-- TENTAR FAZER USO DE TOAST OU CRIAR OUTRO TIPO DE MENSAGEM!!! -->

<ion-content padding>
  <form [formGroup]="meuForm" (ngSubmit) ="cadastrarUsuario($event)">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
              <img 
                src="assets/images/contact.svg" 
                id="imageCadastro" 
                style='height: 50%;background-color:#FFFFFF; width: 50%;'
                onclick="document.getElementById('selectFoto').click()">
          </ion-avatar>
        </ion-item>
        <input formControlName="foto" type="file" id="selectFoto" (change)="enviaImage($event)" hidden accept="image/*">
        <ion-card-content>
          <ion-row>
             
            <ion-item>
                <input ion-input type="" formControlName="username" 
                  [(ngModel)]="usuario.username" name="username" placeholder="Nome do Usuário">
                <span *ngIf="meuForm.controls.username.invalid" class="alert"><br>*Nome é obrigatório.</span>               
              </ion-item>
            <ion-item>
              <input ion-input type="" formControlName="email" type="email" 
                [(ngModel)]="usuario.email" name="email" placeholder="Email">
                <span *ngIf="meuForm.controls.email.invalid" class="alert"><br>*E-mail é obrigatório.</span>
            </ion-item>
            <ion-item>
              <input ion-input formControlName="password" type="password" 
                [(ngModel)]="usuario.password" name="password" placeholder="Senha">
              <div *ngIf="meuForm.controls.password.invalid">
                  <span *ngIf="meuForm.controls.password.errors.required" 
                    class="alert">*A senha é obrigatória.</span>
                  <span *ngIf="meuForm.controls.password.errors.minlength" 
                    class="alert">Mínimo de 6 caracteres.</span>                    
              </div>              
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col class="signup-col">
              <button ion-button class="submit-btn" full (click)="cadastrarUsuario()" [disabled]="meuForm.invalid" >Enviar</button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </form>
</ion-content>
