page-cadastro {

    .alert{
        color: red;
        padding-left: 16px;
        margin-top: -15px;
    }
    .input-text{
        border: none;
        border-bottom: 1px solid silver;
        }
}
