page-book-register {

    #alignCorrect {
        padding-left: 6px;
    }
    #lido {
        margin-top: 10px;
        margin-left: 20px;
    }
    #labelLido{
        width: 50%;
        position: absolute;
        margin-top: 29px;
        font-size: 17px;
        color: rgba(0, 0, 0, 0.4);
    }
    #toggle {
        position: absolute;
        margin-left: 40px;
        margin-top: 17px;
    }
}
