<ion-header>

  <ion-navbar>
    <!--Título da página dinâmico-->
    <ion-title *ngIf="!edit;else tituloAlterar">Registrar Livro</ion-title>
    <ng-template #tituloAlterar>
      <img src="../assets/images/close.svg" left padding (click)="close()">
      <ion-title>
        Livro
      </ion-title>
    </ng-template>
    <!--Habilita edição ou exclusão de livro-->
    <ion-buttons end *ngIf="edit">
      <button ion-button icon-only round (click)="options()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
          />
        </svg>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <!--Input key firebase-->
    <input type="text" hidden name="key" [(ngModel)]="key">
    <!--Capa do livro do google books ou img padrão-->
    <div *ngIf="livro.imageLinks !== underfined;else imageEmpty" align="center">
      <ion-input hidden type="text" name="image" [(ngModel)]="livro.imageLinks"></ion-input>
      <img id="imageCadastro" [src]="livro.imageLinks.smallThumbnail || livro.imageLinks.thumbnail" style='height: 50%;background-color:#FFFFFF; width: 50%;'
        onclick="document.getElementById('selectFoto').click()">
    </div>
    <ng-template #imageEmpty>
      <div align="center">
        <ion-avatar item-start>
          <img [src]="livro.image || 'assets/images/book-open-page-variant.svg'" id="imageCadastro" style='height: 50%;background-color:#FFFFFF; width: 50%;'
            onclick="document.getElementById('selectFoto').click()">
        </ion-avatar>
      </div>
    </ng-template>
    <!--Upload de capa-->
    <input [disabled]="input" type="file" id="selectFoto" (change)="enviaImage($event)" hidden accept="image/*">
    <!--Dados do livro-->
    <ion-input hidden type="text" name="isbn" [(ngModel)]="livro.industryIdentifiers"></ion-input>
    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input [disabled]="input" type="text" name="title" [(ngModel)]="livro.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Autor</ion-label>
      <ion-input [disabled]="input" type="text" name="author" [(ngModel)]="livro.authors"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item id="alignCorrect">
            <ion-label floating>ISBN</ion-label>
            <!--Não ouse mexer neste ngModel-->
            <!--Seleciona o ISBN-->
            <ion-input [disabled]="input" type="number" name="isbn" [(ngModel)]="!!livro.industryIdentifiers ? 
                livro.industryIdentifiers[0].type === 'ISBN_13' ?
                livro.industryIdentifiers[0].identifier:
                livro.industryIdentifiers[0].type === 'ISBN_10'?
                livro.industryIdentifiers[1].identifier:
                livro.industryIdentifiers[0].identifier:livro.isbn_13"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <div id="lido">
            <ion-label id="labelLido">Lido</ion-label>
            <ion-toggle [disabled]="input" name="read" [(ngModel)]="livro.read" checked="false" id="toggle"></ion-toggle>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label floating>Categoria</ion-label>
      <ion-input [disabled]="input" type="text" name="categories" [(ngModel)]="livro.categories"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item id="alignCorrect">
            <ion-label floating>Nº de páginas</ion-label>
            <ion-input [disabled]="input" type="number" name="pageCount" [(ngModel)]="livro.pageCount"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Data de publicação</ion-label>
            <ion-input [disabled]="input" type="text" name="publishedDate" [(ngModel)]="livro.publishedDate"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label floating>Editora</ion-label>
      <ion-input [disabled]="input" type="text" name="publisher" [(ngModel)]="livro.publisher"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea [disabled]="input" type="text" name="description" [(ngModel)]="livro.description" rows="5"></ion-textarea>
    </ion-item>
    <!--Botões Enviar, Salvar e Cancelar-->
    <input [disabled]="input" type="file" id="pdf" (change)="enviaPDF($event)" hidden accept="application/pdf">
    <div align="right">
      <div *ngIf="!edit;else botaoAlterar">
        <p *ngIf="!!pdf" align="left" style="color: #008000">
          <svg style="width:18px;height:18px" viewBox="0 0 24 24">
              <path fill="#008000" d="M20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4C12.76,4 13.5,4.11 14.2,4.31L15.77,2.74C14.61,2.26 13.34,2 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z" />
          </svg>
          {{pdf.name}}
        </p>
        <button [disabled]="input" ion-button round icon-start onclick="document.getElementById('pdf').click()">
          <ion-icon name="md-cloud-upload"></ion-icon>
          PDF
        </button>
        <button [disabled]="input" ion-button round icon-start (click)="registerBook(livro, $event)">
          <ion-icon name="ios-send"></ion-icon>
          Enviar
        </button>
      </div>
      <ng-template #botaoAlterar>
        <button [disabled]="input" ion-button round icon-start (click)="alterar(livro, key)">
          <ion-icon name="ios-send"></ion-icon>
          Salvar
        </button>
      </ng-template>
      <button ion-button round icon-start *ngIf="!edit" (click)="cancelRegister($event)">
        <ion-icon name="ios-close"></ion-icon>
        Cancel
      </button>
    </div>
  </form>
</ion-content>