<!--
  Generated template for the BooksNoReadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let book of books_no_read">
              <ion-thumbnail item-start *ngIf="!!book.image;else imageDefault ">
                <img src="{{book.image}}" style='height: 123px;background-color:#FFFFFF; width:90px;'>
              </ion-thumbnail>
              <ng-template item-start #imageDefault>
                  <img src="assets/images/book-default.png" style='height: 123px;background-color:#FFFFFF; width:90px;'>
              </ng-template>
              <p>{{ book.title }}</p>
          </ion-col>
        </ion-row>
      </ion-grid> 
</ion-content>
