page-books-no-read {
    #unknown-img {
        color: #488aff;
        text-align: center;
        padding-left: 35px;
        padding-right: 55px;
        font-size: 500%;
        -ms-user-select: none;
        user-select: none;
    }
}
